<b-overlay class="container-fluid h-100" spinner-variant="light" variant="primary" :show="loading">
    <div class="row h-100">
        <b-list-group flush class="col-4 overflow-auto h-100 p-0 border-right" style="max-width: 300px;">
            <div class="d-flex h-100 justify-content-center align-items-center" v-if="!mensajes.length">
                <div class="text-secondary text-center">
                    <h1><b-icon-emoji-sunglasses></b-icon-emoji-sunglasses></h1>
                    <p>La bandeja de mensajes esta vacía</p>
                </div>
            </div>
            <b-list-group-item v-else class="d-flex justify-content-between align-items-center"
                v-for="mensaje in mensajes"
                v-bind:key="mensaje.id"
                v-bind:to="('/bandeja/' + mensaje.id)"
                v-bind:active="(mensaje.id == selected)"
            >
                <span class="d-inline-block text-truncate">\{{ mensaje.cuerpo }}</span>
                <b-badge pill variant="success" class="ml-1 mr-1" v-if="!mensaje.leido">nuevo</b-badge>
                <b-badge pill variant="light">\{{ convertDate(mensaje.fechaCreacion) }}</b-badge>
            </b-list-group-item>
        </b-list-group>
        <div class="col overflow-auto h-100 p-0">
            <transition name="fade" mode="out-in">
                <div class="d-flex h-100 justify-content-center align-items-center" v-if="!getMessageSelected()">
                    <div class="text-secondary text-center">
                        <h1>Bandeja de mensajes</h1>
                        <p>Seleccione algún mensaje para verlo aquí</p>
                    </div>
                </div>
                <div class="container-fluid" v-bind:key="selected" v-else>
                    <div class="row">
                        <div class="d-flex bg-primary justify-content-between align-items-center col-12 p-3">
                            <h4 class="text-light m-0">Mensaje \{{getMessageSelected().id}}</h4>
                            <b-badge pill variant="primary">\{{ convertDate(getMessageSelected().fechaCreacion) }}</b-badge>
                        </div>
                        <div class="col p-3 text-justify">
                            \{{ getMessageSelected().cuerpo }}
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
    <template #overlay>
        <div class="d-flex align-items-center">
            <b-spinner variant="light" class="flex-shrink-0"></b-spinner>
            <span class="text-light ml-4">Cargando mensajes...</span>
        </div>
    </template>
</b-overlay>