<div class="p-2">
    <div v-if="egreso">
        <template v-if="egreso.categorias">
            <template v-for="(categoria, index) in egreso.categorias">
                <b-badge class="mr-1">\{{categoria.descripcion}}</b-badge>
            </template>
        </template>
        <div class="row m-0">
            <div class="col p-0 pr-1">
                <b-list-group>
                    <b-list-group-item class="p-1 text-center"><strong>Proveedor</strong></b-list-group-item>
                    <b-list-group-item class="p-1"><strong>Nombre: </strong>\{{ egreso.proveedor.nombre }}</b-list-group-item>
                    <b-list-group-item class="p-1"><strong>Documento: </strong>\{{ egreso.proveedor.documento }}</b-list-group-item>
                    <b-list-group-item class="p-1 text-center" button v-b-toggle.datos-proveedor>Ver mas...</b-list-group-item>
                    <b-list-group-item class="p-0">
                        <b-collapse id="datos-proveedor">
                            <b-list-group flush>
                                <b-list-group-item class="p-1"><strong>Calle: </strong>\{{ egreso.proveedor.calle }}</b-list-group-item>
                                <b-list-group-item class="p-1"><strong>Altura: </strong>\{{ egreso.proveedor.altura }}</b-list-group-item>
                                <b-list-group-item class="p-1"><strong>Piso: </strong>\{{ egreso.proveedor.piso }}</b-list-group-item>
                                <b-list-group-item class="p-1"><strong>Codigo Postal: </strong>\{{ egreso.proveedor.zipcode }}</b-list-group-item>
                            </b-list-group>
                        </b-collapse>
                    </b-list-group-item>
                </b-list-group>
            </div>
            <div class="col p-0 pl-1">
                <b-list-group>
                    <b-list-group-item class="p-1 text-center"><strong>Documento comercial</strong></b-list-group-item>
                    <b-list-group-item class="p-1"><strong>Tipo: </strong>\{{ egreso.documento.tipo.nombreTipoDeDocumento }}</b-list-group-item>
                    <b-list-group-item class="p-1"><strong>Nro: </strong>\{{ egreso.documento.numDocumento }}</b-list-group-item>
                    <b-list-group-item class="p-1 text-center" button v-b-toggle.datos-documento>Ver mas...</b-list-group-item>
                    <b-list-group-item class="p-0">
                        <b-collapse id="datos-documento">
                            <b-list-group flush>
                                <b-list-group-item class="p-1"><strong>Fecha Pedido: </strong>\{{ egreso.documento.tipo.nombreTipoDeDocumento }}</b-list-group-item>
                                <b-list-group-item class="p-1"><strong>Fecha Entrega: </strong>\{{ egreso.documento.numeroDocumento }}</b-list-group-item>
                                <b-list-group-item class="p-1"><strong>Descripcion: </strong>\{{ egreso.documento.descripcion }}</b-list-group-item>
                            </b-list-group>
                        </b-collapse>
                    </b-list-group-item>
                </b-list-group>
            </div>
        </div>
        <div class="row m-0">
            <div class="col p-0 pt-2">
                <b-list-group horizontal class="w-100">
                    <b-list-group-item class="p-1 w-100"><strong>Medio de pago: </strong>\{{ egreso.pago.medioDePago.medioDePago }}</b-list-group-item>
                    <b-list-group-item class="p-1 w-100"><strong>Dato: </strong>\{{ egreso.pago.codigoAsociado }}</b-list-group-item>
                </b-list-group>
            </div>
        </div>
        <div class="row m-0 pt-2">
            <div class="col p-0 rounded overflow-hidden border">
                <b-table borderless small foot class="m-0 border-0"
                    :fields="campos_items" 
                    :items="egreso.items"
                >
                    <template #cell(precio)="data">
                        <span>\{{ "$" + data.item.precio }}</span>
                    </template>
                </b-table>
            </div>
        </div>
        <div class="row m-0">
            <div class="col p-0 pt-2">
                <b-collapse :visible="(falloAsociacionIngreso)">
                    <b-badge variant="danger">No se pudo asociar al ingreso</b-badge>
                </b-collapse>
                <b-button-toolbar>
                    <b-button-group size="sm">
                        <template v-if="egreso.ingresoAsociado">
                            <b-button v-b-modal.modal-ver-ingresos>Ver Ingreso asociado</b-button>
                        </template>
                        <template v-else>
                            <b-button v-b-modal.modal-asociar-ingreso>Asociar a Ingreso</b-button>
                        </template>
                        <template>
                            <b-button v-b-modal.modal-asociar-categoria>Asociar a categorias</b-button>
                        </template>
                        <!--
                        <b-button>Ver Presupuestos asociados</b-button>
                        <b-button variant="danger">Suscribirse</b-button>
                        -->
                    </b-button-group>
                </b-button-toolbar>
            </div>
        </div>
    </div>
    <div v-else>
        
    </div>
    
    <b-modal id="modal-ver-ingresos" hide-footer hide-header scrollable centered v-if="egreso">
        <div v-if="egreso.ingresoAsociado">
            <div class="text-center pb-3">
                <h4>Ingreso \{{egreso.ingresoAsociado.id}}</h4>
            </div>
            <div>
                <p class="text-break"><strong>Descripcion: </strong> \{{egreso.ingresoAsociado.descripcion}}</p>
            </div>
            <div>
                <p><strong>Total:</strong> \{{'$'+egreso.ingresoAsociado.montoTotal}}</p>
            </div>
            <div>
                <p class="m-0"><strong>Fecha Operacion</strong> \{{convertDate(egreso.ingresoAsociado.fechaOperacion)}}</p>
            </div>
        </div>
    </b-modal>

    <b-modal id="modal-asociar-ingreso" hide-footer scrollable centered title="Asociar a Ingreso">
        <asociar-ingreso
            v-bind:confirmarAccion="confirmarAsociarIngreso"
            v-bind:cancelarAccion="cancelarAsociarIngreso"
        ></asociar-ingreso>
    </b-modal>

    <b-modal id="modal-asociar-categoria" hide-footer scrollable centered title="Asociar a Categoría">
        <asociar-categoria
            v-bind:confirmarAccion="confirmarAsociarCategorias"
            v-bind:cancelarAccion="cancelarAsociarCategorias"
        ></asociar-categoria>
    </b-modal>
</div>