<!-- template para nuevo egreso -->
<div class="pt-3">
    <div class="row mb-4 mx-2">
        <div class="col py-2 text-center">
            <h2>Cargar nuevo egreso</h2>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-4 text-right py-2">
            <span class="mr-2"><strong>Organización</strong></span>
        </div>
        <div class="col bg-light p-2">
            <span class="ml-2">NombreOrganización</span>
        </div>
    </div>

    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Fecha Operación</strong></span>
        </div>
        <div class="col">
            <b-form-datepicker placeholder="Seleccione fecha de la Operación" v-model="egreso.fecha" class="mb-2"></b-form-datepicker>
        </div>
    </div>
    <div class="row mb-4 mx-2 justify-content-between">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Proveedor</strong></span>
        </div>
        <div class="col">
            <b-form-select v-model="egreso.proveedor" :options="proveedoresSelect">
                <template #first>
                    <b-form-select-option :value="null" disabled>-- Selecciona un proveedor --</b-form-select-option>
                </template>
                <template>
                    <b-form-select-option v-if="(proveedorAAgregar != null)" value="nuevoProveedor">\{{ proveedorAAgregar.nombre }}</b-form-select-option>
                </template>
            </b-form-select>
        </div>
        <div class="col">
            <b-button block variant="outline-primary" v-b-modal.modal-agregar-proveedor>Agregar uno nuevo</b-button>
        </div>
    </div>
    <div class="row mb-4 mx-2 justify-content-between">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Medio de Pago</strong></span>
        </div>
        <div class="col">
            <b-form-select v-model="egreso.medioDePago.id" :options="mediosDePagoSelect">
                <template #first>
                    <b-form-select-option :value="null" disabled>-- Seleccionar un medio de pago --</b-form-select-option>
                </template>
            </b-form-select>
        </div>
        <div class="col">
            <b-form-input placeholder="Ingrese número de pago" v-model="egreso.medioDePago.dato"></b-form-input>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Documento comercial</strong></span>
        </div>
        <div class="col">
            <div class="p-2 container-fluid border border rounded">
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Tipo</strong></span>
                    </div>
                    <div class="col">
                        <b-form-select v-model="egreso.documentoComercial.tipo" :options="tipoDocumentoSelect">
                            <template #first>
                                <b-form-select-option :value="null" disabled>-- Seleccionar un tipo de documento --</b-form-select-option>
                            </template>
                        </b-form-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Número documento</strong></span>
                    </div>
                    <div class="col">
                        <b-form-input placeholder="Ingrese número de documento" v-model="egreso.documentoComercial.numeroDocumento"></b-form-input>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Fecha de Pedido</strong></span>
                    </div>
                    <div class="col">
                        <b-form-datepicker placeholder="Seleccione fecha de Pedido" v-model="egreso.documentoComercial.fechaDePedido" class="mb-2"></b-form-datepicker>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Fecha de Entrega</strong></span>
                    </div>
                    <div class="col">
                        <b-form-datepicker placeholder="Seleccione fecha de Entrega" v-model="egreso.documentoComercial.fechaDeEntrega" class="mb-2"></b-form-datepicker>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Descripción</strong></span>
                    </div>
                    <div class="col">
                        <b-col class="px-0 mx-0">
                            <b-form-textarea rows="3" max-rows="6"
                                placeholder="Breve descripción" v-model="egreso.documentoComercial.descripcion"
                            ></b-form-textarea>
                        </b-col>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 text-sm-right py-2">
                        <span class="mr-2"><strong>Imagen</strong></span>
                    </div>
                    <div class="col p-2">
                        <span class="ml-2">We'll see...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Items</strong></span>
        </div>
        <div class="col">
            <b-table small responsive bordered striped class="mb-0 rounded" :fields="campos_items" :items="egreso.items"
                head-variant="dark" foot-variant="light" foot-clone>
                <template #head(nombreProducto)="head">
                    <div class="px-2">\{{ head.label }}</div>
                </template>
                <template #head(precio)="head">
                    <div class="px-2">\{{ head.label }}</div>
                </template>
                <template #head(cantidad)="head">
                    <div class="px-2">\{{ head.label }}</div>
                </template>

                <template #cell(nombreProducto)="row">
                    <b-form-input class="border-0 px-2 bg-transparent" v-model="row.item.nombreProducto" @input="addItem"></b-form-input>
                </template>
                <template #cell(precio)="row">
                    <b-form-input class="border-0 px-2 bg-transparent text-center" v-model="row.item.precio" @input="addItem"></b-form-input>
                </template>
                <template #cell(cantidad)="row">
                    <b-form-input class="border-0 px-2 bg-transparent text-center" v-model="row.item.cantidad" @input="addItem"></b-form-input>
                </template>
                <template #cell(delete)="row">
                    <b-button variant="outline" class="px-2 m-0 text-danger" @click="deleteItem(row.index)">
                        <b-icon-x></b-icon-x>
                    </b-button>
                </template>
            </b-table>
        </div>
    </div>
    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Acciones</strong></span>
        </div>
        <div class="col">
            <b-button-group class="w-100">
                <b-button>Cargar Presupuestos</b-button>
                <b-button v-b-modal.modal-asociar-ingreso>Asociar a Ingreso</b-button>
                <b-button v-b-modal.modal-asociar-categoria>Asociar a Categorías</b-button>
            </b-button-group>
            <div class="pt-2" v-if="categoriasAAsociar.length">
                <span>El egreso se asociará a las siguientes categorías: </span>
                <template
                    v-for="(categoria, index) in categoriasAAsociar"
                >
                    <b-badge class="mr-1">\{{ categoria }}</b-badge>
                </template>
            </div>
        </div>
    </div>
  
    <div class="row mb-4 mx-2">
        <div class="col-sm-4 text-sm-right py-2">
            <span class="mr-2"><strong>Suscribirse</strong></span>
        </div>
        <div class="col px-2">
            <b-form-checkbox class="py-2 ml-2">Suscribirse a este egreso</b-form-checkbox>
        </div>
    </div>

    <div class="row mb-4 mx-2">
        <div class="col-sm-4">

        </div>
        <div class="col">
            <b-button-group>
                <b-button variant="primary" @click="confirmar">Confirmar</b-button>
                <b-button variant="outline-dark" to="/operaciones/egreso">Cancelar</b-button>
            </b-button-group>
        </div>
    </div>
    
    <b-modal id="modal-asociar-categoria" hide-footer scrollable centered title="Asociar a Categoría">
        <asociar-categoria
            v-bind:confirmarAccion="confirmarAsociarCategorias"
            v-bind:cancelarAccion="cancelarAsociarCategorias"
        ></asociar-categoria>
    </b-modal>
    
    <b-modal id="modal-asociar-ingreso" hide-footer scrollable centered title="Asociar a Ingreso">
        <asociar-ingreso
            v-bind:confirmarAccion="confirmarAsociarCategorias"
            v-bind:cancelarAccion="cancelarAsociarCategorias"
        ></asociar-ingreso>
    </b-modal>

    <b-modal id="modal-agregar-proveedor" size="xl" hide-footer scrollable centered title="Crear nuevo Proveedor">
        <agregar-proveedor 
            v-bind:confirmarAccion="confirmarNuevoProveedor"
            v-bind:cancelarAccion="cancelarNuevoProveedor"
        ></agregar-proveedor>
    </b-modal>
</div>