<!DOCTYPE html>
<html lang="es">
    <head>
        {{> head.hbs}}
    </head>
    <body cz-shortcut-listen="true">
        <link type="text/css" rel="stylesheet" href="http://{{ ip }}/css/navbar.css"/>
        <link type="text/css" rel="stylesheet" href="http://{{ ip }}/css/simple-sidebar.css"/>
        <link type="text/css" rel="stylesheet" href="http://{{ ip }}/css/dropdown.css"/>
        <!-- Panel -->
        <div id="panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Nombre de organizacion -->
                <div id="navbar-organizacion" class="navbar-brand mr-2" href="#">
                    <img src="http://{{ ip }}/img/utn_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    <span class="p-2">Organización</span>
                </div>
                <!-- Busqueda -->
                <div>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <b-icon-search></b-icon-search>
                        </button>
                    </form>
                </div>
                <!-- Avatar -->
                <div class="ml-auto" v-b-toggle.user-content>
                    <b-avatar variant="primary" text="J" src="http://{{ ip }}/img/usuarios/user.png"></b-avatar>
                </div>
                <!-- Panel de opciones de usuario -->
                <b-collapse id="user-content" class="p-2">
                    <b-list-group>
                        <b-list-group-item>Javier</b-list-group-item>
                        <b-list-group-item button><b-icon-gear-fill class="mr-2"></b-icon-gear-fill> Configuración</b-list-group-item>
                        <b-list-group-item button><b-icon-box-arrow-left class="mr-2"></b-icon-box-arrow-left> Cerrar sesión</b-list-group-item>
                    </b-list-group>
                </b-collapse>
            </nav>
            <!-- /#navbar-wrapper -->

            <div class="d-flex" id="wrapper">
                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="list-group list-group-flush">
                        <template v-for="(page, index) in sidebar">
                            <router-link class="list-group-item list-group-item-action bg-light" v-bind:to="page.path">\{{ page.label }}</router-link>
                        </template>
                    </div>
                </div>
                <!-- /#sidebar-wrapper -->

                <!-- Rightside -->
                <div class="w-100">
                    <!-- Breadcrum -->
                    <b-breadcrumb>
                        <b-breadcrumb-item>
                            <router-link to="/">
                                <b-icon icon="house-fill" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>
                            </router-link>
                        </b-breadcrumb-item>
                        <template v-for="(page, index) in breadcrumb">
                            <b-breadcrumb-item>
                                <router-link v-bind:to="page.path" v-bind:active="page.active">
                                    \{{ page.label }}
                                </router-link>
                            </b-breadcrumb-item>
                        </template>
                    </b-breadcrumb>
                    <!-- /$breadcrum-wrapper -->

                    <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <router-view></router-view>
                    </div>
                    <!-- /#page-content-wrapper -->
                </div>
                <!-- /#rightside-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>
        <!-- /#panel-wrapper -->

        <script>
            const error404 = {
                template: `{{> 404.hbs}}`,
            };
            const inicio = {
                template: `{{> inicio.hbs}}`,
            };
            const operaciones = {
                data() {
                    return {
                        criterios: [{
                            id: "crit-1",
                            nombre: "Criterio 1"
                        },
                        {
                            id: "crit-2",
                            nombre: "Criterio 2"
                        }]
                    }
                },
                template: `{{> operaciones.hbs}}`
            };

            const router = new VueRouter({
                routes: [
                    {
                        name: 'inicio',
                        path: '/',
                        component: inicio,
                        meta: {
                            breadcrumb: []
                        }
                    },
                    {
                        name: 'operaciones',
                        path: '/operaciones',
                        component: operaciones,
                        meta: {
                            breadcrumb: [
                                {
                                    label: "Operaciones",
                                    type: "fixed",
                                    path: "/operaciones",
                                    active: true
                                }
                            ]
                        }
                    },
                    {
                        name: 'egreso',
                        path: '/operaciones/egreso/:id',
                        component: operaciones,
                        meta: {
                            breadcrumb: [
                                {
                                    label: "Operaciones",
                                    type: "fixed",
                                    path: "/operaciones"
                                },
                                {
                                    label: "Egreso",
                                    type: "fixed",
                                    path: "/operaciones"
                                },
                                {
                                    label: "id",
                                    type: "dynamic",
                                    path: "/operaciones/egreso/id",
                                    active: true
                                }
                            ]
                        }
                    },
                    {
                        name: 'bandeja',
                        path: '/bandeja',
                        component: app,
                        meta: {
                            breadcrumb: [
                                {
                                    label: "Bandeja de mensajes",
                                    type: "fixed",
                                    path: "/bandeja",
                                    active: true
                                }
                            ]
                        }
                    },
                    {
                        name: 'error404',
                        path: '/*',
                        component: error404
                    }
                ],
                mode: 'history'
            });

            var app = new Vue({
                el: "#panel",
                data: {
                    sidebar: [
                        {
                            label: "Operaciones",
                            path: '/operaciones',
                        },
                        {
                            label: "Bandeja de mensajes",
                            path: '/bandeja'
                        },
                        {
                            label: "TEST",
                            path: '/operaciones/egreso/3'
                        }
                    ],
                    breadcrumb: []
                },
                methods: {
                    updateBreadcrumb() {

                        var breadcrumb = this.$route.meta.breadcrumb;

                        if(breadcrumb == undefined)
                            return;

                        breadcrumb.forEach(crumb => {
                            if(crumb.type == "dynamic") {
                                var key = crumb.label;
                                var dynamicLabel = this.$route.params[key];

                                if(dynamicLabel != undefined) {
                                    crumb.label = dynamicLabel;
                                    crumb.path = crumb.path.replace(key, dynamicLabel);
                                }
                            }
                        });
                        this.breadcrumb = breadcrumb;
                    }
                },
                router: router,
                watch: {
                    $route(to, from) {
                        this.updateBreadcrumb();
                    }
                },
                mounted() {
                    this.updateBreadcrumb();
                }
            });
        </script>
    </body>
</html>