<div>
    <b-overlay variant="warning" opacity="0.2" :show="loggedOut" no-wrap style="z-index: 2000;">
        <template #overlay>
            <b-card
                class="shadow"
                title="Se ha cerrado la sesión"
                style="width: 20rem"
            >
                <b-overlay spinner-variant="light" variant="primary" rounded="sm" :show="login.loginLoading" no-wrap></b-overlay>
                <form @submit.prevent="loginAttempt" class="pt-2">
                    <p>Por favor inicia sesión nuevamente</p>
                    <b-collapse :visible="login.userState == false">
                        <p class="text-danger text-left m-0"><span>Completa el campo usuario</span></p>
                    </b-collapse>
                    <b-form-input class="mb-2" v-model="login.user" :state="login.userState" type="text" placeholder="Usuario"></b-form-input>

                    <b-collapse :visible="login.passState == false">
                        <p class="text-danger text-left m-0"><span>Completa el campo contraseña</span></p>
                    </b-collapse>
                    <b-form-input v-model="login.pass" :state="login.passState" type="password" placeholder="Contraseña"></b-form-input>

                    <b-collapse :visible="login.loginState == false" class="mt-2">
                        <p class="text-danger text-left m-0"><span>Usuario y/o contraseña no coinciden</span></p>
                    </b-collapse>
                    <b-button variant="primary" type="submit" class="mt-4">Iniciar Sesión</b-button>
                </form>
            </b-card>
        </template>
    </b-overlay>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark d-flex bg-dark flex-nowrap">
        <button class="navbar-toggler border-0 p-1 mr-2" data-toggle="collapse" v-on:click="sidebarShow = !sidebarShow">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nombre de organizacion -->
        <div id="navbar-organizacion" class="navbar-brand mr-2" v-bind:class="{'hide-organizacion': searchSelected}">
            <img src="http://{{ ip }}/img/utn_logo.png" width="30" height="30" class="d-inline-block align-top" style="filter: invert(1)">
            <span class="p-2">\{{userData.organizacion}}</span>
        </div>
        <!-- Busqueda -->
        <!--
        <form id="search-wrapper" v-bind:class="{'show-search': searchSelected}" v-on:submit.prevent="search()">
            <b-input-group class="mr-2" style="flex-wrap: nowrap">
                <b-input-group-prepend>
                    <b-button variant="outline" class="border-secondary" type="submit"
                        v-model="query" 
                        v-on:focus="searchSelected = true" 
                        v-on:blur="searchSelected = false"
                    ><b-icon-search></b-icon-search></b-button>
                </b-input-group-prepend>
                <b-form-input class="border-secondary" placeholder="Buscar"
                    v-model="query" 
                    v-on:focus="searchSelected = true" 
                    v-on:blur="searchSelected = false"
                ></b-form-input>
            </b-input-group>
        </form>
        <!-- Avatar -->
        <div class="ml-auto" v-b-toggle.user-content>
            <b-avatar variant="primary" :text="userData.nombre.substring(0,1)"></b-avatar>
        </div>
        <!-- Panel de opciones de usuario -->
        <b-collapse class="shadow-lg" id="user-content">
            <b-list-group>
                <b-list-group-item>\{{userData.nombre}}</b-list-group-item>
                <b-list-group-item to="/configuracion" v-b-toggle.user-content>
                        <b-icon-gear-fill class="mr-2"></b-icon-gear-fill> Configuración
                </b-list-group-item>
                <b-list-group-item to="#" @click="logout">
                    <b-icon-box-arrow-left class="mr-2"></b-icon-box-arrow-left> Cerrar sesión
                </b-list-group-item>
            </b-list-group>
        </b-collapse>
    </nav>
    <!-- /#navbar-wrapper -->

    <div class="d-flex" v-bind:class="{toggled: !sidebarShow}" id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="border-right">
            <b-list-group flush>
                <template v-for="(page, index) in sidebar">
                    <b-list-group-item 
                        :to="page.path" 
                        @click.native="siedebarShow = true"
                    >\{{ page.label }}</b-list-group-item>
                </template>
            </b-list-group>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Rightside -->
        <div class="w-100 overflow-auto">
            <!-- Breadcrum -->
            <b-breadcrumb class="m-0 border-bottom bg-light" style="border-radius: 0;">
                <b-breadcrumb-item to="/">
                    <b-icon-house></b-icon-house>
                </b-breadcrumb-item>
                <template v-for="(page, index) in breadcrumb">
                    <b-breadcrumb-item v-bind:to="page.path" v-bind:active="page.active">
                        \{{ page.label }}
                    </b-breadcrumb-item>
                </template>
            </b-breadcrumb>
            <!-- /$breadcrum-wrapper -->

            <!-- Page Content -->
            <div class="overflow-auto" style="height: calc(100vh - 106px)">
                <transition name="fade" mode="out-in">
                    <router-view :key="routerViewKey"></router-view>
                </transition>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#rightside-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
<!-- /#panel-wrapper -->